.tls-container {position:relative;padding:0 60px;height:460px;}

.tls-body {position:relative;overflow:hidden;height:100%;box-shadow:0 0 5px rgba(0, 0, 0, .5)}

.tls-nav-next, .tls-nav-prev {z-index:5;top:0;position:absolute;width:50px;height:100%;cursor:pointer;background:url(http://s4.kuaipan.cn/i/4/005.png) no-repeat center;}
.tls-nav-next {right:0;}
.tls-nav-prev {left:0;background-image:url(http://s4.kuaipan.cn/i/4/004.png);}

.tls-items-container {position:absolute;top:0;height:100%;}

.tls-cursor {z-index:10;top:-500px;left:50%;position:absolute;width:2px;height:1000px;margin-left:-1px;background:#08c;}

.tls-item-panel {position:relative;display:inline-block;*display:inline;*zoom:1;width:800px;height:100%;}
#tls-panel-0 {margin-left:0;}

.tls-item {position:absolute;width:100px;height:100px;background:#f5f5f5;}
.tls-item-1 {left:0;}
.tls-item-2 {left:20px;top:120px;width:200px;height:200px;}
.tls-item-3 {left:100px;top:340px;}
.tls-item-4 {left:240px;top:80px;width:150px;height:150px;}
.tls-item-5 {left:300px;top:320px;}
.tls-item-6 {left:450px;}
.tls-item-7 {left:470px;top:180px;width:150px;height:150px;}
.tls-item-8 {left:480px;bottom:0;}
.tls-item-9 {left:650px;top:100px;}
.tls-item-10 {right:20px;bottom:85px;}